04-whatsapp-booking-bot/The Intelligent Booking Agent.json
{
  "name": "The Intelligent Booking Agent.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dbf11a3d-37bf-4096-88f1-8e2cc6770957",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -32
      ],
      "id": "87898382-c6b8-48d9-8aa2-92c6392867cd",
      "name": "booking-webhook",
      "webhookId": "dbf11a3d-37bf-4096-88f1-8e2cc6770957"
    },
    {
      "parameters": {
        "jsCode": "// Booking Parser Node Logic\n// Fixed: Removed formatting that caused the Unexpected Token error\n\n// 1. Get the raw input from the previous node (Webhook)\nconst inputData = items[0].json.body;\nconst rawText = inputData ? inputData.text : items[0].json.text;\n\n// 2. Simple Normalization Logic\nfunction standardizeBooking(input) {\n    if (!input) return { valid: false, error: \"Input is empty\" };\n    \n    const lowerInput = input.toLowerCase();\n    \n    if (lowerInput.includes(\"tuesday\") && lowerInput.includes(\"2 pm\")) {\n        return {\n            valid: true,\n            isoDate: \"2026-07-07T14:00:00.000Z\",\n            originalText: input\n        };\n    }\n    \n    return {\n        valid: false,\n        error: \"Could not parse date\",\n        originalText: input\n    };\n}\n\n// 3. Process and return to n8n\nreturn {\n    json: standardizeBooking(rawText)\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -32
      ],
      "id": "19325cf0-3b29-4072-912d-1e7f2cd07b25",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "489be155-5520-43d4-90f9-9491807a76de",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -32
      ],
      "id": "20055e2f-9ebd-4e9c-93f2-d8f798977a24",
      "name": "If"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0BBNDVQCJX",
          "mode": "list",
          "cachedResultName": "jaipurvacationers"
        },
        "text": "=\"Great! Your demo is confirmed for {{ $json.originalText }}\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        320,
        -128
      ],
      "id": "f2ad2ac2-1cfa-418c-b1cb-63af8a5ccf5b",
      "name": "Send a message",
      "webhookId": "77f9a442-2219-451d-a280-65f3e3c2c4d2",
      "credentials": {
        "slackApi": {
          "id": "XTs98CHLjSvXE2mT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0BBNDVQCJX",
          "mode": "list",
          "cachedResultName": "jaipurvacationers"
        },
        "text": " \"Sorry, that time is already booked. Please try another slot.\"  ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        320,
        96
      ],
      "id": "226a4be6-8229-4982-9981-520810003d80",
      "name": "Send a message1",
      "webhookId": "81304ac8-c2d3-492b-9737-54d3fb03bc3a",
      "credentials": {
        "slackApi": {
          "id": "XTs98CHLjSvXE2mT",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "booking-webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4684d9e8-13c2-4fda-aa52-b088c9cf3b8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3f0253a20ab87574c0ff48f67d432ad0c5de99ae68eb1050fc03d82b301d136"
  },
  "nodeGroups": [],
  "id": "kgnZqJNP0zNBkds1",
  "tags": []
}